  <div class="header">
        <div id ="logo">logo</div>
        <div id ="loc">location</div>
        <div id = "searchbar"><input type="text" name="search"placeholder="Enter the Brandsname & products name you want to search "size="100px" /></div>
        <div id ="coun">country</div>
        <div id ="signin">sign in</div>
        <div id = "rtord">Retun & orders</div>
        <div id ="cartp">Cart</div>
    </div>
<div class ="category">
    <div id =categ1>All</div>
    <div id="categ2">Fruits</div>
    <div id ="categ3">Electronics</div>
</div>